@model ZTBusService.Models.routeStop

@{
    ViewBag.Title = "Details for " + (string)Session["busRouteCode"] + " - " + (string)Session["busRouteName"];
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.offsetMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.offsetMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.busRoute.routeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.busRoute.routeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.busStop.location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.busStop.location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.routeStopId }) |
    @Html.ActionLink("Back to List", "Index", new { busRouteCode = (string)Session["busRouteCode"], busRouteName = (string)Session["busRouteName"] })
</p>
