@model ZTBusService.Models.ZTChangePasswordViewModel
@{
    string changePasswordUserName = ViewBag.changePasswordUserName;
    string changePasswordUserId = ViewBag.changePasswordUserId;
    ViewBag.Title = "Change Password for user : " + changePasswordUserName;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ChangePassword", "ZTUserMaintenance", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.Hidden("id", changePasswordUserId)
    @Html.Hidden("userName", changePasswordUserName)

    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change password" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




































































@*@model ZTBusService.Models.ApplicationUser

    @{
        ViewBag.Title = "Change Password for " + Model.UserName;
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("ChangePassword", "ZTUserMaintenance", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <label for="pw">New Password</label><br />
        <input type="password" id="pw" name="password" /><br /><br />
        <label for="cpw">Confirm Password</label><br />
        <input type="password" id="cpw" name="confirmPassword" /><br /><br />
        <input type="submit" class="btn btn-default" value="Change Password" />
    }
    <br /><br />
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@